<nav class="d-flex navbar sticky-top" id="header">
    <div class="container-fluid justify-content-between">
        <a id="brand" class="navbar-brand lien" href="#">
            <img src="/assets/img/logo.png" alt="logo" width="30" height="30" class="d-inline-block align-text-top">
            <span>&nbsp;Jeu de flechettes en ligne</span>
        </a>
        <ul class="d-flex align-content-between p-0 mb-0 navbar-text">
            <li><a href="#"><button id="connexion" class="btn btn-outline-primary m-1 btn-sm" disabled hidden>Connexion</button></a></li>
            <li><a href="#"><button id="inscription" class="btn btn-primary m-1 btn-sm" disabled hidden>Inscription</button></a></li>
        </ul>
    </div>
</nav>
