<aside class="d-flex col-12 col-md-2 col-xxl-1 p-0 sticky-md-top" id="sidebar">
    <ul class="d-flex col-12 justify-content-around justify-content-md-start flex-md-column m-0 p-0 ps-md-2">
        <li class="nav-item">
            <a href="#" class="nav-link py-4 px-0 lien justify-content-center">
                <span data-bs-toggle="modal" data-bs-target="#infoModal301">
                    Règle 301
                </span>
            </a>
        </li>
    </ul>
</aside>
