<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type='module' src="/src/main.js"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>
    <%- include('../partials/header.ejs'); %>
    <div class="p-0 container-fluid">
        <div class="row">
            <h1 class="col-12 text-center my-5">Page non trouvée</h1>
        </div>
    </div>

    <%- include('../partials/footer.ejs'); %>

</body>

</html>