<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type='module' src="/src/main.js"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>
    <%- include('../partials/header.ejs'); %>
    <div class="p-0 container-fluid">
        <div class="row">
            <form id="login_form" class="d-flex justify-content-center flex-column align-items-center my-3">
                <div class="form-outline mb-4">
                    <label for="username" class="form-label">Ton nom:</label>
                    <input type="text" id="username" name="username" class="form-control"></input>
                    <h6 id="username-erreur" style="text-align: center;color: red;" hidden>Veuillez saisir un bon nom d'utilisateur!</h6>
                </div>
                <input type="submit" value="Se connecter" class="btn btn-primary btn-block mb-4"></input>
            </form>
        </div>
    </div>

    <%- include('../partials/footer.ejs'); %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
<script>
    const socket = io();
    const usernameForm = document.getElementById('login_form');
    const input = document.getElementById('username');

    usernameForm.addEventListener('submit', (e) => {
        e.preventDefault();
        if (input.value) {
            username = input.value
            socket.emit('join', username);
        }
    });

    socket.on('reponse', (msg) => {
        if (msg == "AlreadyExist" | msg == "NonCorrect") { // TODO
            document.getElementById(username-erreur).style.visibility='visible'
        } else {
            document.getElementById(username-erreur).style.visibility='hidden'
        }
    });

    socket.on('redirect', function(destination) {
        window.location.href = destination;
    });
</script>
</body>

</html>